.header{
    font-weight: bolder;
    background-color: rgb(106, 177, 106);
}
.bold{
    font-weight:bold;
}
.underline{
    text-decoration: underline;
}
.italic{
   font-style: italic; 
}
.horizontal{
    writing-mode: horizontal-tb;
    text-orientation: upright;
    list-style-type: none;
    display: inline;
}
.invisibale{
    display: none;
}


/* ------------------------------CLOCK------------------------------ */
#container{
    min-height: 300px;
    position: relative;
    background-color: #000;
    min-width: 380px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    min-width: 380px;
}

#clock, #date {
    color: #fff502;
    border-radius: 10px;  
    font-family: 'Source Code Pro', monospace;
}
#clock{
    text-align: center;
        font-size: 72px;
        position: absolute;
        margin: 0 auto;
    padding: 10px;top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
#date{
    text-align: left;
    font-size: 36px;
    position:absolute;
    padding: 0;
    display: inline;
    
}